### Pandas


Pandas es un paquete Python de código abierto que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para que trabajar con datos "relacionales" o "etiquetados" sea fácil e intuitivo.

### Estructuras de datos
Pandas presenta dos nuevas estructuras de datos en Python: Series y DataFrame, ambas construidas sobre NumPy (esto significa que es rápido).


#### Serie

Este es un objeto unidimensional similar a la columna en una hoja de cálculo o tabla SQL. De forma predeterminada, a cada elemento se le asignará una etiqueta de índice de `0` a `N`.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,4,np.nan, 5, 6], index = ['A', 'B', 'C', 'D', 'E', 'F'])
print(s)

A    1.0
B    3.0
C    4.0
D    NaN
E    5.0
F    6.0
dtype: float64

Si creas una serie utilizando el diccionario, la clave se convertirá en el índice de forma predeterminada.

In [5]:
dict_ejemplo = {'A': 1, 'B':2, 'C':3, 'D':np.nan, 'E': 5, 'F': 6}
dict_ejemplo

{'A': 1, 'B': 2, 'C': 3, 'D': nan, 'E': 5, 'F': 6}

In [6]:
s = pd.Series(dict_ejemplo)
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

La contraparte bidimensional de las series unidimensionales es el DataFrame.

### DataFrame

Es un objeto bidimensional similar a una hoja de cálculo o una tabla SQL. Este es el objeto Pandas más utilizado.

In [7]:
data = {'Genero': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Edad': [25, 27, 25]}
# Si queremos el orden de las columnas, especificamos en el parametro columns
df = pd.DataFrame(data, columns=['Emp_ID', 'Genero', 'Edad'])
df

  Emp_ID Genero  Edad
0    E01      F    25
1    E02      M    27
2    E03      M    25

#### Lectura y escritura de datos

Veremos tres formatos de archivo de uso común: csv, archivo de texto y Excel.

In [9]:
# Leyendo desde un archivo csv
df=pd.read_csv('mtcars.csv')
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'Nombre': ['Cristiano', 'Neymar', 'Sirlupu'],
        'Edad': [25, 30, 35],
        'Ciudad': ['Madrid', 'Barcelona', 'Peru']}

df = pd.DataFrame(data)

# Escribir el DataFrame en un archivo CSV sin incluir los valores de índice
df.to_csv('datos.csv', index=False)
# Leer el archivo CSV y cargar los datos en un DataFrame
df = pd.read_csv('datos.csv')
# Mostrar las primeras filas del DataFrame
df.head()

      Nombre  Edad     Ciudad
0  Cristiano    25     Madrid
1     Neymar    30  Barcelona
2    Sirlupu    35       Peru

In [14]:
import pandas as pd

# Leer el archivo de texto con separador de tabulaciones
df = pd.read_csv('carstexto.txt')
# Mostrar las primeras filas del DataFrame
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [16]:
import pandas as pd

# Leer el archivo Excel y cargar los datos en un DataFrame
df = pd.read_excel('mtcars.xlsx','mtcars')
# Mostrar las primeras filas del DataFrame
df.head()

  model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0      Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4
1  Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1...
2   Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1
3  Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44...
4  Hornet Sportabout,18.7,8,360,175,3.15,3.44,17....

### Resumen de estadísticas básicas

In [37]:
df = pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### Covarianza

In [21]:
# Calculate the covariance between appropriate columns
cov_matrix = df[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']].cov()

# Display the covariance matrix
print(cov_matrix)

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      0.685694    -0.042434      1.274315     0.516271
sepal.width      -0.042434     0.189979     -0.329656    -0.121639
petal.length      1.274315    -0.329656      3.116278     1.295609
petal.width       0.516271    -0.121639      1.295609     0.581006

#### Correlación

In [22]:
# Calcular la correlación entre columnas adecuadas
corr_matrix = df[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']].corr()

# Mostrar la matriz de correlación
print(corr_matrix)

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      1.000000    -0.117570      0.871754     0.817941
sepal.width      -0.117570     1.000000     -0.428440    -0.366126
petal.length      0.871754    -0.428440      1.000000     0.962865
petal.width       0.817941    -0.366126      0.962865     1.000000

### Visualización de datos
Pandas DataFrame viene con funciones integradas para ver los datos contenidos:

* Mirando los `n` primeros registros, el valor predeterminado de `n` es 5 si no se especifica:  `df.head(n=2)`.

* Mirando los `n` registros inferiores: `df.tail()`

* Obtener los nombres de las columnas: `df.columns`

* Obtener los tipos de datos de las columnas: `df.types`

* Obtener el índice del dataframe: `df.index`

* Obtener valores únicos: `df[column_name].unique()`

* Obtener valores: `df.values`

* Ordenar el dataframe: `df.sort_values(by =['Column1', 'Column2'], ascending=[True,True'])`

* Seleccionar/ver por el nombre de la columna: `df[column_name]`

* Seleccionar/ver por número de fila `df[0:3]`

* Selección por índice:

- `df.loc[0:3] # índice de 0 a 3`
- `df.loc[0:3,[‘column1’, ‘column2’]] # índice de 0 a 3 para las columnas específicas`

* Selección por posición

- `df.iloc[0:2] # usando el rango, primeras 2 filas`
- `df.iloc[2,3,6] # posición específica`
-  `df.iloc[0:2,0:2] # primeras 2 filas y primeras 2 columnas`

* Selección sin que esté en el índice

- `print(df.ix[1,1]) # valor de la primera fila y la primera columna`
- `print(df.ix[:,2]) # todas las filas de la columna en la segunda posición`

* Alternativa más rápida a `iloc` para obtener valores escalares: `print(df.iat[1,1])`

* Transponer el dataframe: `df.T`

* Filtrar DataFrame según la condición de valor para una columna: `df[df['column_name'] > 7.5]`

* Filtrar DataFrame basado en una condición de valor en una columna: `df[df['column_name'].isin(['condition_value1', 'condition_value2'])]`

* Filtro basado en múltiples condiciones en múltiples columnas usando el operador AND: `df[(df['column1']>7.5) & (df['column2']>3)]`

* Filtro basado en múltiples condiciones en múltiples columnas usando el operador OR: `df[(df[‘column1’]>7.5) | (df['column2']>3)]`.

In [24]:
df.head(n=2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [25]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [27]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [28]:
print("Nombres de las columnas:", df.columns)

Nombres de las columnas: Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [30]:
print("Indice del DataFrame:", df.index)

Indice del DataFrame: RangeIndex(start=0, stop=150, step=1)

In [ ]:
print(df.values)

In [48]:
print("Nombres de las columnas:", list(df.columns))

Nombres de las columnas: ['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [53]:
valores_unicos = df['variety'].unique()
print(valores_unicos)

['Setosa' 'Versicolor' 'Virginica']

In [55]:
valores_unicos = df['sepal.length'].unique()
print(valores_unicos)

[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]

In [57]:
df_sorted = df.sort_values(by=['variety', 'sepal.length'], ascending=[True, True])
print(df_sorted)

     sepal.length  sepal.width  petal.length  petal.width    variety
13            4.3          3.0           1.1          0.1     Setosa
8             4.4          2.9           1.4          0.2     Setosa
38            4.4          3.0           1.3          0.2     Setosa
42            4.4          3.2           1.3          0.2     Setosa
41            4.5          2.3           1.3          0.3     Setosa
..            ...          ...           ...          ...        ...
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica
131           7.9          3.8           6.4          2.0  Virginica

[150 rows x 5 columns]

In [61]:
columna_species = df['variety']
print(columna_species)

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [62]:
df.iloc[[2, 3, 6]]

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
6           4.6          3.4           1.4          0.3  Setosa

In [67]:
df_filtered = df[(df['sepal.length'] > 7.5) & (df['sepal.width'] > 3)]
print(df_filtered)

     sepal.length  sepal.width  petal.length  petal.width    variety
117           7.7          3.8           6.7          2.2  Virginica
131           7.9          3.8           6.4          2.0  Virginica

In [68]:
df_filtered = df[df['petal.length'] > 7.5]
print(df_filtered)

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety]
Index: []

Selección diferente por opciones de etiqueta

- `loc:` solo funciona en el índice
- `iloc:` trabaja en posición
- `iat:` Obtener valores escalares. es un `iloc` muy rapido.

In [73]:
df[['sepal.length', 'sepal.width', 'petal.length']]

     sepal.length  sepal.width  petal.length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [70]:
df.iloc[0:2]  # Selecciona las primeras dos filas
df.iloc[2]  # Selecciona la fila en la posición 2
df.iloc[0:2, 0:2]  # Selecciona las primeras dos filas y las primeras dos columnas

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0

In [69]:
df[0:3]  # Selecciona las filas en las posiciones 0, 1 y 2

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [75]:
df.iloc[2:5]

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

**Ejercicio**

¿Qué produce `df.iloc[0:3, 0:3]` ?

In [74]:
df.iloc[0:3, 0:3]

   sepal.length  sepal.width  petal.length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3

In [76]:
df.iloc[3:7, :]

   sepal.length  sepal.width  petal.length  petal.width variety
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa

Selección por índice de fila y columna (el índice comienza con 0).

El siguiente caso obtendrá el valor `[índice de la primera fila, índice de la primera columna]`.

In [77]:
print(df.iat[1, 1])

3.0

In [78]:
print(df.iloc[1,1])

3.0

In [79]:
print (df.iloc[:, 2])

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal.length, Length: 150, dtype: float64

In [80]:
transpuesta = df.T
print(transpuesta)

                 0       1       2       3       4       5       6       7    \
sepal.length     5.1     4.9     4.7     4.6     5.0     5.4     4.6     5.0
sepal.width      3.5     3.0     3.2     3.1     3.6     3.9     3.4     3.4
petal.length     1.4     1.4     1.3     1.5     1.4     1.7     1.4     1.5
petal.width      0.2     0.2     0.2     0.2     0.2     0.4     0.3     0.2
variety       Setosa  Setosa  Setosa  Setosa  Setosa  Setosa  Setosa  Setosa

                 8       9    ...        140        141        142        143  \
sepal.length     4.4     4.9  ...        6.7        6.9        5.8        6.8
sepal.width      2.9     3.1  ...        3.1        3.1        2.7        3.2
petal.length     1.4     1.5  ...        5.6        5.1        5.1        5.9
petal.width      0.2     0.1  ...        2.4        2.3        1.9        2.3
variety       Setosa  Setosa  ...  Virginica  Virginica  Virginica  Virginica

                    144        145        146        147        148        149
sepal.length        6.7        6.7        6.3        6.5        6.2        5.9
sepal.width         3.3        3.0        2.5        3.0        3.4        3.0
petal.length        5.7        5.2        5.0        5.2        5.4        5.1
petal.width         2.5        2.3        1.9        2.0        2.3        1.8
variety       Virginica  Virginica  Virginica  Virginica  Virginica  Virginica

[5 rows x 150 columns]

#### Indexado Booleano

In [84]:
valor = 7.5  # Valor de referencia para la condición
df_filtrado = df[df['sepal.length'] > valor]

In [88]:
valores = ['3', '5.5']  # Valores que deseas filtrar
df_filtrado = df[df['sepal.length'].isin(valores)]

In [91]:
valor1 = 5.0  # Reemplaza con el valor numérico deseado
valor2 = 3.0  # Reemplaza con el valor numérico deseado

df_filtrado = df[(df['sepal.length'] > valor1) & (df['sepal.width'] < valor2)]

### Operaciones básicas con Pandas

* Convertir cadenas a series de fechas: `pd.to_datetime(pd.Series(['2017-04-01','2017-04-02','2017-04-03']))`.

* Cambiar el nombre de una columna específica: `df.rename(columns={‘old_columnname’:‘new_columnname'}, inplace=True)`

* Cambiar el nombre de todas las columnas del DataFrame: `df.columns = ['col1_new_name','col2_new_name'...]`

* Marcar duplicados: `df.duplicated()`

* Quitar duplicados:`df = df.drop_duplicates()`

* Quitar duplicados en una columna específica: `df.drop_duplicates(['column_name'])`

* Quitar los duplicados en una columna específica, pero se conserva la primera o la última observación en el conjunto de duplicados: `df.drop_duplicates(['column_name'], keep = 'first') # cambiar al ultimo para conservar la ultima observación del duplicado`.

* Crear una nueva columna a partir de una columna existente: `df['new_column_name'] = df['new_column_name'] + 5`

* Crear una nueva columna a partir de los elementos de dos columnas: `df['new_column_name'] = df['existing_column1'] + '_' + df['existing_column2']`

* Agregar una lista o una nueva columna a DataFrame: `df['new_column_name'] = pd.Series(mylist)`

* Descartar las filas y columnas faltantes que tienen valores faltantes: `df.dropna()`

* Reemplaza todos los valores faltantes con 0 (o puede usar cualquier int o str): `df.fillna(value=0)`

* Reemplaza los valores faltantes con la última observación válida (útil en datos de series de tiempo). Por ejemplo, la temperatura no cambia drásticamente en comparación con una observación anterior. Una forma es llenar de NA forward-backward más alla de la media.

    1) 'pad' / 'ffill' - forward fill

    2) 'bfill'/'backfill' - backward fill

    Límite: si se especifica el método, este es el número máximo de valores de NaN consecutivos para completar forward/backward fill: `df.fillna (method = 'ffill', inplace= True, limit = 1)`

* Verifica la condición del valor faltante y devuelva el valor Booleano de `True` o `False` para cada celda: `pd.isnull(df)`

* Reemplaza todos los valores faltantes para una columna dada con la media: `mean=df['column_name].mean(); df['column_name'].fillna(mean)`

* Devuelve la media para cada columna: `df.mean()`

* Retorna el máximo para cada columna: `df.max()`

* Retorno el mínimo para cada columna: `df.min()`

* Devuelve la suma para cada columna: `df.sum()`

* Conteo para cada columna: `df.count()`

* Devuelve la suma acumulada para cada columna: `df.cumsum()`

* Aplica una función a lo largo de cualquier eje del DataFrame: `df.apply(np.cumsum)`

* Itera sobre cada elemento de una serie y realizar la acción deseada: `df['column_name'].map(lambda x: 1+x) # esto itera sobre la columna y agrega el valor 1 a cada elemento`

* Aplica una función a cada elemento del dataframe:`func = lambda x: x + 1 # función para agregar una constante 1 a cada elemento del dataframe df.applymap(func)`.

In [92]:
cadena_fechas = ('2017-04-01','2017-04-02','2017-04-03','2017-04-04')
pd.to_datetime(pd.Series(cadena_fechas))

0   2017-04-01
1   2017-04-02
2   2017-04-03
3   2017-04-04
dtype: datetime64[ns]

In [95]:
df.rename(columns = {'sepal.length': 'sepal_length'}, inplace=True)
print(df)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [96]:
df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']
print(df)

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [97]:
# Removemos los duplicados

data_1 = {'primer_nombre': ['Amy', 'Amy', 'Jason', 'Nick', 'Stephen','Amy'],
        'ultimo_nombre': ['Jackson', 'J', 'Miller', 'Milner', 'L','J'],
        'edad': [42, 42, 36, 24, 24, 42]}
df = pd.DataFrame(data_1, columns = ['primer_nombre', 'ultimo_nombre', 'edad'])
print(df)

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
1           Amy             J    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24
5           Amy             J    42

In [98]:
print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [99]:
print(df.drop_duplicates())

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
1           Amy             J    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24

In [100]:
df.drop_duplicates(['primer_nombre'], keep ='first')

  primer_nombre ultimo_nombre  edad
0           Amy       Jackson    42
2         Jason        Miller    36
3          Nick        Milner    24
4       Stephen             L    24

**Ejercicio**

* Agrega las columnas siguientes: `edad_mas_5`, `nombre_completo` y `genero`
 - `edad_mas_5`viene de sumar 5 a la etiqueta `edad`
 - `nombre_completo` viene de sumar las etiquetas `primer_nombre`, `_` y `ultimo_nombre`
 - `genero` es una serie de elementos `'F','F','M','M','M','F'.`

In [101]:
import pandas as pd

data_1 = {
    'primer_nombre': ['Amy', 'Amy', 'Jason', 'Nick', 'Stephen', 'Amy'],
    'ultimo_nombre': ['Jackson', 'J', 'Miller', 'Milner', 'L', 'J'],
    'edad': [42, 42, 36, 24, 24, 42]
}

df = pd.DataFrame(data_1, columns=['primer_nombre', 'ultimo_nombre', 'edad'])

# Agregar columna 'edad_mas_5'
df.insert(loc=len(df.columns), column='edad_mas_5', value=df['edad'] + 5)

# Agregar columna 'nombre_completo'
df.insert(loc=len(df.columns), column='nombre_completo', value=df['primer_nombre'] + ' ' + df['ultimo_nombre'])

# Agregar columna 'genero'
genero = ['F', 'F', 'M', 'M', 'M', 'F']
df.insert(loc=len(df.columns), column='genero', value=genero)

print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson    42          47     Amy Jackson      F
1           Amy             J    42          47           Amy J      F
2         Jason        Miller    36          41    Jason Miller      M
3          Nick        Milner    24          29     Nick Milner      M
4       Stephen             L    24          29       Stephen L      M
5           Amy             J    42          47           Amy J      F

#### Datos perdidos

pandas usa principalmente el valor `np.nan` para representar los datos que faltan. Por defecto no se incluye en los cálculos.

In [103]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson  42.0          47     Amy Jackson      F
1           Amy             J  42.0          47           Amy J      F
2         Jason        Miller  36.0          41    Jason Miller      M
3          Nick        Milner  24.0          29     Nick Milner      M
4       Stephen             L   NaN          29       Stephen L      M
5           Amy             J  42.0          47           Amy J      F

In [102]:
print(df.dropna())

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson    42          47     Amy Jackson      F
1           Amy             J    42          47           Amy J      F
2         Jason        Miller    36          41    Jason Miller      M
3          Nick        Milner    24          29     Nick Milner      M
4       Stephen             L    24          29       Stephen L      M
5           Amy             J    42          47           Amy J      F

In [104]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson  42.0          47     Amy Jackson      F
1           Amy             J  42.0          47           Amy J      F
2         Jason        Miller  36.0          41    Jason Miller      M
3          Nick        Milner  24.0          29     Nick Milner      M
4       Stephen             L   NaN          29       Stephen L      M
5           Amy             J  42.0          47           Amy J      F

In [105]:
df.fillna(value =0)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson  42.0          47     Amy Jackson      F
1           Amy             J  42.0          47           Amy J      F
2         Jason        Miller  36.0          41    Jason Miller      M
3          Nick        Milner  24.0          29     Nick Milner      M
4       Stephen             L   0.0          29       Stephen L      M
5           Amy             J  42.0          47           Amy J      F

In [106]:
df.iloc[4,2] = np.nan
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson  42.0          47     Amy Jackson      F
1           Amy             J  42.0          47           Amy J      F
2         Jason        Miller  36.0          41    Jason Miller      M
3          Nick        Milner  24.0          29     Nick Milner      M
4       Stephen             L   NaN          29       Stephen L      M
5           Amy             J  42.0          47           Amy J      F

In [107]:
pd.isnull(df)

   primer_nombre  ultimo_nombre   edad  edad_mas_5  nombre_completo  genero
0          False          False  False       False            False   False
1          False          False  False       False            False   False
2          False          False  False       False            False   False
3          False          False  False       False            False   False
4          False          False   True       False            False   False
5          False          False  False       False            False   False

#### Operaciones

In [109]:
media = df['edad'].mean()
df['edad'] = df['edad'].fillna(media)

In [110]:
df.fillna(method='ffill', inplace=True, limit=1)

In [111]:
import warnings
warnings.filterwarnings('ignore')
df.mean()

edad          37.2
edad_mas_5    40.0
dtype: float64

In [112]:
df.min()

primer_nombre        Amy
ultimo_nombre          J
edad                24.0
edad_mas_5            29
nombre_completo    Amy J
genero                 F
dtype: object

In [113]:
df.max()

primer_nombre        Stephen
ultimo_nombre         Milner
edad                    42.0
edad_mas_5                47
nombre_completo    Stephen L
genero                     M
dtype: object

In [114]:
df.sum()

primer_nombre                              AmyAmyJasonNickStephenAmy
ultimo_nombre                                 JacksonJMillerMilnerLJ
edad                                                           223.2
edad_mas_5                                                       240
nombre_completo    Amy JacksonAmy JJason MillerNick MilnerStephen...
genero                                                        FFMMMF
dtype: object

In [115]:
df.count()

primer_nombre      6
ultimo_nombre      6
edad               6
edad_mas_5         6
nombre_completo    6
genero             6
dtype: int64

In [116]:
df.cumsum()

,primer_nombre,ultimo_nombre,edad,edad_mas_5,nombre_completo,genero
0,Amy,Jackson,42.0,47,Amy Jackson,F
1,AmyAmy,JacksonJ,84.0,94,Amy JacksonAmy J,FF
2,AmyAmyJason,JacksonJMiller,120.0,135,Amy JacksonAmy JJason Miller,FFM
3,AmyAmyJasonNick,JacksonJMillerMilner,144.0,164,Amy JacksonAmy JJason MillerNick Milner,FFMM
4,AmyAmyJasonNickStephen,JacksonJMillerMilnerL,181.2,193,Amy JacksonAmy JJason MillerNick MilnerStephen L,FFMMM
5,AmyAmyJasonNickStephenAmy,JacksonJMillerMilnerLJ,223.2,240,Amy JacksonAmy JJason MillerNick MilnerStephen...,FFMMMF

#### Aplicación de función a elemento, columna o dataframe

In [129]:
df['edad_mas_5'] = df['edad_mas_5'].map(lambda x: x + 1)
print(df)

  primer_nombre ultimo_nombre  edad  edad_mas_5 nombre_completo genero
0           Amy       Jackson  42.0          49     Amy Jackson      F
1           Amy             J  42.0          49           Amy J      F
2         Jason        Miller  36.0          43    Jason Miller      M
3          Nick        Milner  24.0          31     Nick Milner      M
4       Stephen             L  37.2          31       Stephen L      M
5           Amy             J  42.0          49           Amy J      F

In [130]:
func=lambda x: x+1
df_filtrado = df.iloc[:, 2:4]
print(df_filtrado)

   edad  edad_mas_5
0  42.0          49
1  42.0          49
2  36.0          43
3  24.0          31
4  37.2          31
5  42.0          49

In [131]:
print(df_filtrado.applymap(func))

   edad  edad_mas_5
0  43.0          50
1  43.0          50
2  37.0          44
3  25.0          32
4  38.2          32
5  43.0          50

**Ejemplo**

La parte del poder de pandas se da por los métodos integrados en los objetos Series y DataFrame.

In [132]:
from io import StringIO
data = StringIO('''UPC,Units,Sales,Date
1234,5,20.2,1-1-2014
1234,2,8.,1-2-2014
1234,3,13.,1-3-2014
789,1,2.,1-1-2014
789,2,3.8,1-2-2014
789,,,1-3-2014
789,1,1.8,1-5-2014''')

In [133]:
sales = pd.read_csv(data)
sales

    UPC  Units  Sales      Date
0  1234    5.0   20.2  1-1-2014
1  1234    2.0    8.0  1-2-2014
2  1234    3.0   13.0  1-3-2014
3   789    1.0    2.0  1-1-2014
4   789    2.0    3.8  1-2-2014
5   789    NaN    NaN  1-3-2014
6   789    1.0    1.8  1-5-2014

In [134]:
sales.shape

(7, 4)

In [135]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UPC     7 non-null      int64
 1   Units   6 non-null      float64
 2   Sales   6 non-null      float64
 3   Date    7 non-null      object
dtypes: float64(2), int64(1), object(1)
memory usage: 352.0+ bytes

A diferencia del objeto `Series` que prueba la pertenencia con el índice, el `DataFrame` prueba la pertenencia con las columnas. El comportamiento de iteración `(__iter__)` y el comportamiento de pertenencia `(__contains__)` es el mismo para el `DataFrame`.

#### Operaciones de índice

In [136]:
sales.reindex([0, 4])

    UPC  Units  Sales      Date
0  1234    5.0   20.2  1-1-2014
4   789    2.0    3.8  1-2-2014

In [137]:
sales.reindex(columns=['Date', 'Sales'])

       Date  Sales
0  1-1-2014   20.2
1  1-2-2014    8.0
2  1-3-2014   13.0
3  1-1-2014    2.0
4  1-2-2014    3.8
5  1-3-2014    NaN
6  1-5-2014    1.8

La selección de columnas e índices se puede combinar para refinar aún más la selección. Además, se pueden incluir nuevas entradas para valores de índices y nombres de columna. Por defecto, usarán el parámetro opcional `fill_value` (que es NaN a menos que se especifique):

In [139]:
sales.reindex(index=[2, 6, 8], columns=['Sales', 'MIT', 'missing'])

   Sales  MIT  missing
2   13.0  NaN      NaN
6    1.8  NaN      NaN
8    NaN  NaN      NaN

In [138]:
by_date = sales.set_index('Date')
by_date

           UPC  Units  Sales
Date
1-1-2014  1234    5.0   20.2
1-2-2014  1234    2.0    8.0
1-3-2014  1234    3.0   13.0
1-1-2014   789    1.0    2.0
1-2-2014   789    2.0    3.8
1-3-2014   789    NaN    NaN
1-5-2014   789    1.0    1.8

Para agregar un índice entero creciente a un data frame, usa `.reset_index`:

In [140]:
by_date.reset_index()

       Date   UPC  Units  Sales
0  1-1-2014  1234    5.0   20.2
1  1-2-2014  1234    2.0    8.0
2  1-3-2014  1234    3.0   13.0
3  1-1-2014   789    1.0    2.0
4  1-2-2014   789    2.0    3.8
5  1-3-2014   789    NaN    NaN
6  1-5-2014   789    1.0    1.8

#### Obtener y establecer valores

In [141]:
sales.iat[4, 2]

3.8


A continuación, insertamos una columna `Category` después de ` UPC`  (en la posición 1):

In [142]:
sales.insert(1, 'Category', 'Food')
sales

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014
5   789     Food    NaN    NaN  1-3-2014
6   789     Food    1.0    1.8  1-5-2014

El método `.replace` es una forma poderosa de actualizar muchos valores de un data frame en las columnas. Para reemplazar todos los 789 con 790, realiza lo siguiente:

In [144]:
sales.replace(789, 790)

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   790     Food    1.0    2.0  1-1-2014
4   790     Food    2.0    3.8  1-2-2014
5   790     Food    NaN    NaN  1-3-2014
6   790     Food    1.0    1.8  1-5-2014

In [143]:
sales.replace({'UPC': {789:790},
'Sales': {789: 1.4}})

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   790     Food    1.0    2.0  1-1-2014
4   790     Food    2.0    3.8  1-2-2014
5   790     Food    NaN    NaN  1-3-2014
6   790     Food    1.0    1.8  1-5-2014

El método `replace` también acepta expresiones regulares (pueden ser incluidas en diccionarios anidados) si  el paramétro`regex` se coloca en `True`.

In [146]:
sales.replace('(F.*d)', r'\1_stuff', regex=True)

    UPC    Category  Units  Sales      Date
0  1234  Food_stuff    5.0   20.2  1-1-2014
1  1234  Food_stuff    2.0    8.0  1-2-2014
2  1234  Food_stuff    3.0   13.0  1-3-2014
3   789  Food_stuff    1.0    2.0  1-1-2014
4   789  Food_stuff    2.0    3.8  1-2-2014
5   789  Food_stuff    NaN    NaN  1-3-2014
6   789  Food_stuff    1.0    1.8  1-5-2014

#### Eliminación de  columnas

Hay al menos cuatro formas de eliminar una columna:

* El método `.pop`

* El método `.drop` con `axis = 1`

* El método `.reindex`

* Indexación con una lista de nuevas columnas

El método `.pop` toma el nombre de una columna y lo elimina del data frame. Opera in-place. En lugar de devolver un data frame, devuelve la columna eliminada.

In [150]:
sales['subcat'] = 'Dairy'
sales

    UPC Category  Units  Sales      Date subcat
0  1234     Food    5.0   20.2  1-1-2014  Dairy
1  1234     Food    2.0    8.0  1-2-2014  Dairy
2  1234     Food    3.0   13.0  1-3-2014  Dairy
3   789     Food    1.0    2.0  1-1-2014  Dairy
4   789     Food    2.0    3.8  1-2-2014  Dairy
5   789     Food    NaN    NaN  1-3-2014  Dairy
6   789     Food    1.0    1.8  1-5-2014  Dairy

In [151]:
sales.pop('subcat')

0    Dairy
1    Dairy
2    Dairy
3    Dairy
4    Dairy
5    Dairy
6    Dairy
Name: subcat, dtype: object

In [152]:
sales

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014
5   789     Food    NaN    NaN  1-3-2014
6   789     Food    1.0    1.8  1-5-2014

Para quitar una columna con el método `.drop`, simplemente páselo (o una lista de nombres de columna) junto con la configuración del parámetro `axis` en 1:

In [155]:
import pandas as pd

# Crear un DataFrame de ejemplo
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Mostrar el DataFrame original
print("DataFrame original:")
print(df)

# Quitar la columna 'B' utilizando .drop()
df = df.drop('B', axis=1)

# Mostrar el DataFrame resultante
print("DataFrame resultante:")
print(df)

DataFrame original:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
DataFrame resultante:
   A  C
0  1  7
1  2  8
2  3  9

#### Los dos métodos finales para eliminar columnas

In [156]:
cols = ['Sales', 'Date']

In [157]:
sales.reindex(columns=cols)

   Sales      Date
0   20.2  1-1-2014
1    8.0  1-2-2014
2   13.0  1-3-2014
3    2.0  1-1-2014
4    3.8  1-2-2014
5    NaN  1-3-2014
6    1.8  1-5-2014

In [158]:
sales[cols]

   Sales      Date
0   20.2  1-1-2014
1    8.0  1-2-2014
2   13.0  1-3-2014
3    2.0  1-1-2014
4    3.8  1-2-2014
5    NaN  1-3-2014
6    1.8  1-5-2014

#### Recortes

In [160]:
sales.head()

    UPC Category  Units  Sales      Date
0  1234     Food    5.0   20.2  1-1-2014
1  1234     Food    2.0    8.0  1-2-2014
2  1234     Food    3.0   13.0  1-3-2014
3   789     Food    1.0    2.0  1-1-2014
4   789     Food    2.0    3.8  1-2-2014

In [182]:
sales.tail(2)

   UPC Category  Units  Sales      Date
5  789     Food    NaN    NaN  1-3-2014
6  789     Food    1.0    1.8  1-5-2014

In [180]:
df

   A  C
0  1  7
1  2  8
2  3  9

Para dividir por posición, usa el atributo `.iloc`. Aquí tomamos filas en las posiciones dos hasta cuatro, pero sin incluirlas:

In [179]:
df.iloc[2:4]

   A  C
2  3  9

También podemos proporcionar posiciones de columna que también queremos mantener. Las posiciones de las columnas deben seguir una coma en la operación de índice. Aquí mantenemos las filas desde dos hasta pero sin incluir la fila cuatro. También tomamos columnas desde cero hasta pero sin incluir uno (solo la columna en la posición de índice cero).

Esto se expresa en la siguiente figura:


<img src="recorte-pandas.png" alt="Drawing" style="width: 500px;"/>

A continuación se muestra un resumen de las construcciones de  de data frame por posición y etiqueta.


```
.iloc [i: j]            Posición de filas i hasta pero sin incluir j (semiabierto)
.iloc [:, i: j]         Posición de las columnas i hasta pero sin incluir j (semiabierto)
.iloc [[i, k, m]]       Filas en i, k y m (no es un intervalo)
.loc [a: b]             Filas desde la etiqueta de índice a hasta b (cerrado)
.loc [:, c: d]          Columnas de la etiqueta de columna c a d (cerrado)
.loc [: [b, d, f]]      Columnas en las etiquetas b, d y f (no es un intervalo)

```

<img src="recorte-ejemplo.png" alt="Drawing" style="width: 600px;"/>

In [166]:
df.iloc[2:4]

   A  C
2  3  9

In [172]:
df.iloc[2:4, 0:1]

   A
2  3

También hay soporte para dividir datos por etiquetas. Usando el atributo `.loc`, podemos tomar valores de índice desde la `a` a la `d`:

In [173]:
subset = df.loc['a':'d']
print(subset)

Empty DataFrame
Columns: [A, C]
Index: []

Y al igual que `.iloc`, `.loc` tiene la capacidad de especificar columnas por etiqueta. En este ejemplo, solo tomamos la columna `Units` y, por lo tanto, devuelve una serie:

### Merge/Join

In [185]:
data = {
        'emp_id': ['1', '2', '3', '4', '5'],
        'primer_nombre': ['Jason', 'Andy', 'Allen', 'John', 'Amy'],
        'ultimo_nombre': ['Larkin', 'Jacob', 'A', 'AA', 'Jackson']}
df_1 = pd.DataFrame(data, columns = ['emp_id', 'primer_nombre', 'ultimo_nombre'])
print (df_1)

  emp_id primer_nombre ultimo_nombre
0      1         Jason        Larkin
1      2          Andy         Jacob
2      3         Allen             A
3      4          John            AA
4      5           Amy       Jackson

In [186]:
data = {
        'emp_id': ['4', '5', '6', '7'],
        'primer_nombre': ['James', 'Shize', 'Kim', 'Jose'],
        'ultimo_nombre': ['Alexander', 'Suma', 'Mike', 'G']}
df_2 = pd.DataFrame(data, columns = ['emp_id', 'primer_nombre', 'ultimo_nombre'])
print (df_2)

  emp_id primer_nombre ultimo_nombre
0      4         James     Alexander
1      5         Shize          Suma
2      6           Kim          Mike
3      7          Jose             G

In [187]:
# usando concat
df = pd.concat([df_1, df_2])
print(df)

  emp_id primer_nombre ultimo_nombre
0      1         Jason        Larkin
1      2          Andy         Jacob
2      3         Allen             A
3      4          John            AA
4      5           Amy       Jackson
0      4         James     Alexander
1      5         Shize          Suma
2      6           Kim          Mike
3      7          Jose             G

In [ ]:
# Juntando dos dataframes a lo largo de las columnas
pd.concat([df_1,df_2], axis=1)

Combinamos dos dataframes basados en el valor `emp_id` en este caso, solo se unirán los `emp_id` presentes en ambas tablas.

In [ ]:
print(pd.merge(df_1,df_2, on='emp_id'))

### Grouping


Pandas nos brinda la capacidad de agrupar data frames por valores de columna y luego fusionarlos nuevamente en un resultado con el método `.groupby`.
Pandas `group by` nos permitirá lograr lo siguiente:

- Aplicar una función de agregación a cada grupo de forma independiente
- Según algunos criterios, divide los datos en grupos.
- Combinar los resultados del `group by` en una estructura de datos.


<img src="Groupby.png" alt="Drawing" style="width: 700px;"/>

Como ejemplo, en el data frame `scores`, calcularemos las puntuaciones medias de cada maestro. Primero llamamos a `.groupby` y entonces invocamos a `.median` en el resultado:

In [189]:
data = {
    'name': ['Adam', 'Bob', 'Dave', 'Fred'],
    'age': [15, 16, 16, 15],
    'test1': [95, 81, 89, None],
    'test2': [80, 82, 84, 88],
    'teacher': ['Ashby', 'Ashby', 'Jones', 'Jones']
}

In [196]:

# Calcular las puntuaciones medias por maestro
mean_scores = scores.groupby('teacher').mean()

# Mostrar el resultado
print(mean_scores)

          age  test1  test2
teacher
Ashby    15.5   88.0   81.0
Jones    15.5   89.0   86.0

Esto incluyó la columna `age`, para ignorar que podemos separar solo las columnas de prueba:

In [195]:
# Seleccionar solo las columnas de prueba
test_scores = scores[['test1', 'test2', 'teacher']]

# Calcular las puntuaciones medias por maestro
mean_scores = test_scores.groupby('teacher').mean()

# Mostrar el resultado
print(mean_scores)

         test1  test2
teacher
Ashby     88.0   81.0
Jones     89.0   86.0

Para encontrar los valores medianos de cada grupo de edad para cada maestro, simplemente agrupa por maestro y edad:

In [194]:
# Calcular los valores medianos por maestro y edad
median_scores = scores.groupby(['teacher', 'age']).median()

# Mostrar el resultado
print(median_scores)

             test1  test2
teacher age
Ashby   15    95.0   80.0
        16    81.0   82.0
Jones   15     NaN   88.0
        16    89.0   84.0

Si queremos los puntajes mínimos y máximos de las pruebas por maestro, usamos el método `.agg` y pasamos una lista de funciones para llamar:

In [197]:

# Calcular los puntajes mínimos y máximos por maestro
min_max_scores = scores.groupby('teacher').agg({'test1': ['min', 'max'], 'test2': ['min', 'max']})

# Mostrar el resultado
print(min_max_scores)

        test1       test2
          min   max   min max
teacher
Ashby    81.0  95.0    80  82
Jones    89.0  89.0    84  88

**Ejercicio**

In [198]:
df = pd.DataFrame({'Nombre' : ['jack', 'jane', 'jack', 'jane', 'jack', 'jane', 'jack', 'jane'],
                   'Estado' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK', 'SFO', 'CA'],
                   'Genero':['A','A','B','A','C','B','C','A'],
                   'Edad' : np.random.uniform(24, 50, size=8),
                   'Salario' : np.random.uniform(3000, 5000, size=8),})

Ten en cuenta que las columnas se ordenan automáticamente en su orden alfabético para un orden personalizado, usa el siguiente código_

`df = pd.DataFrame (data, columns = ['Nombre', 'Estado', 'Edad', 'Salario'])`

* Calcula la suma por nombres.

* Encuentra la edad máxima y el salario por nombre/ estado. Puedes usar todas las funciones agregadas, como mínimo, máximo, media, conteo, suma acumulada.

In [199]:
suma_por_nombre = df.groupby('Nombre').sum()
print(suma_por_nombre)

              Edad       Salario
Nombre
jack    127.994690  17734.311984
jane    140.795529  16259.180454

#### Tablas pivot

Pandas proporciona una función `pivot_table` para crear una tabla pivot (dinámica )de estilo de hoja de cálculo de MS-Excel. Puede tomar los siguientes argumentos:

- `data`: objeto DataFrame
- `values`: columna para agregar
- `index`: etiquetas de fila
- `columns`: etiquetas de columna
- `aggfunc`: función de agregación que se usará en valores, el valor predeterminado es `NumPy.mean`.

Usando una tabla pivot, podemos generalizar ciertos comportamientos grupales. Para obtener las puntuaciones medias de los profesores, podemos ejecutar lo siguiente:

In [204]:
tabla_pivot = df.pivot_table(values=['Edad', 'Salario'], index=['Nombre', 'Estado'], aggfunc={'Edad': 'max', 'Salario': 'max'})
print(tabla_pivot)

                    Edad      Salario
Nombre Estado
jack   NYK     45.514903  4905.510071
       SFO     26.916511  4961.073040
jane   CA      35.800110  4548.736605
       NYK     46.658790  4918.802421
       SFO     27.942306  3428.816458

Si queremos agregar por maestro y edad, simplemente usamos una lista con ambos para el parámetro `index`:

In [ ]:
#scores.pivot_table(index=['teacher', 'age'],
#                   values=['test1', 'test2'],
#                   aggfunc='median')

Si queremos aplicar múltiples funciones, simplemente usa una lista de ellas. Aquí, analizamos los puntajes mínimos y máximos de las pruebas por maestro:

In [ ]:
#scores.pivot_table(index='teacher',
#                   values=['test1', 'test2'],
#                   aggfunc=[min, max])

Podemos ver que la tabla pivot y de grupo por comportamiento son muy similares. Hay del estilo declarativo de `.pivot_table` y el estilo  semántico de los grupos.

Una característica adicional de las tablas pivots es la capacidad de agregar filas de resumen. Simplemente estableciendo `margins= True` obtenemos esta funcionalidad:

In [ ]:
#scores.pivot_table(index='teacher',
#                   values=['test1', 'test2'],
#                   aggfunc='median', margins=True)

<img src="pivot.png" alt="Drawing" style="width: 700px;"/>

In [ ]:
#scores.pivot_table(index= ['teacher', 'age'],
#                   values=['test1', 'test2'],
#                   aggfunc=[len, sum], margins=True)

<img src="pivot-parameters.png" alt="Drawing" style="width: 700px;"/>

**Ejercicio** Del dataframe anterior agrupa por estado y nombre y encuentre la edad media para cada grado.

In [205]:
tabla_pivot = df.pivot_table(values='Edad', index=['Estado', 'Nombre'], aggfunc='mean')
print(tabla_pivot)

                    Edad
Estado Nombre
CA     jane    33.097216
NYK    jack    37.845878
       jane    46.658790
SFO    jack    26.151467
       jane    27.942306